<div class=" overlay">
<nav class="navbar navbar-expand-lg navbar-dark bg-none">
  <a class="navbar-brand" href="#">
    <img  class="my-logo" src="../assets/mylogo.png" />
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
  </div>
</nav>


<section>
  <div class="container ">
        <div class="row">
              <div class="col-lg-12 text-center rounded-circle">
                      <img class="rounded-circle border-5 border-light my-image" src="../assets/mypic.jpg" />
              </div>
        </div>
        <div id="hello-text" class="row text-center mt-5">
            <div class="col-lg-12">
              <h4>Hello & Welcome</h4>
            </div>
        </div>
        <div class="row text-center mt-3">
          <div class="col-lg-12">
              <div id="typed-strings">
                  <p><strong>Manikanta</strong></p>
                  <p><strong>iOS Developer</strong></p>
                  <p><strong>ionic Developer</strong></p>
                  <p><strong>Angular Developer</strong></p>
                </div>
                <h4 class="d-inline">I am  </h4><h1 class="d-inline" id="typed"></h1>
                <h1 class="d-inline">|</h1>
          </div>
        </div>

  </div>
</section>

<section class="section " id="contact">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12">
              <div class="text-center mx-auto section-main-title">
                  <h2>Get In <span class="font-weight-bold">Touch</span></h2>
                  <div class="main-title-border">
                      <i class="mdi mdi-asterisk"></i>
                  </div>
                  <p class="text-muted mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              </div>
          </div>
      </div>
      <div class="row mt-4 pt-4">
          <div class="col-lg-4">
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-mobile2 text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold">Call On</p>
                      <p class="text-muted">+91 81219 71462</p>
                  </div>
              </div>
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-letter text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold">Email At</p>
                      <p class="text-muted">contact@manikantanandam.com</p>
                  </div>
              </div>
              <div class="text-center mt-4">
                  <div>
                      <i class="mbri-pin text-custom h2"></i>
                  </div>
                  <div class="mt-2">
                      <p class="mb-0 font-weight-bold">Visit Office</p>
                      <p class="text-muted">202, Grasselli Street , Conway.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="contact_form">
                  <form>
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mt-2">
                                  <label for="name" class="font-weight-bold">Name</label>
                                  <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mt-2">
                                  <label for="email" class="font-weight-bold">Email address</label>
                                  <input name="email" id="email" type="email" class="form-control" placeholder="Your email..." required="">
                              </div>
                          </div>
                          <!-- <div class="col-lg-12">
                              <div class="form-group mt-2">
                                  <label for="subject" class="font-weight-bold">Subject</label>
                                  <input type="text" class="form-control" id="subject" placeholder="Your Subject.." required="">
                              </div>
                          </div> -->
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mt-2">
                                  <label for="comments" class="font-weight-bold">Message</label>
                                  <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12 text-right">
                              <input type="submit" class="btn btn-custom" value="Send Message">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>


<!-- <section id="top-skills" class="fixed-bottom mb-5">
  <div class="row">
    <div class="col-lg-3 text-center offset-lg-9">
      <p class="text-white top-skills">Top Skills</p>
    </div>
  </div>
  <div class="row mb-4">
      <div class="col-lg-3 devider offset-lg-9 bg-white">

      </div>
    </div>
  <div class="row">
    <div class="col-lg-1 offset-lg-9 col-xs-4 col-sm-4 first-logo text-center">
      <img class="rounded" src="../assets/swift.png"/>
      <br>
      <span>Swift</span>

    </div>
    <div class="col-lg-1 col-sm-4 col-xs-4 text-center">
        <img class="rounded" src="../assets/angular.png"/>
        <br>
        <span>Angular</span>
      </div>
      <div class="col-lg-1 col-sm-4 col-xs-4 last-logo text-center">
          <img  class="rounded" src="../assets/ionic.png"/>
          <br>
          <span>Ionic</span>
        </div>
  </div>
</section> -->

</div>
